
<ion-content>
<div class="fondo-login"></div>
    <ion-card>
      <ion-card-header>
        <img src="../../assets/image/Auto.png" />
        <br />
        <img src="../../assets/image/texto.png" />
      </ion-card-header>
      <div class="padding-login">
      <ion-card-content class="fondo-transparente">
        <form [formGroup]="form" novalidate>
          <ion-list class="fondo-transparente">
            <ion-item style="border-radius: 20px !important;" class="fondo-transparente">
              <ion-label class="fondo-transparente" position="stacked">Usuario/Correo Electrónico</ion-label>
              <ion-input class="fondo-transparente" formControlName="vuser" [(ngModel)]="user"></ion-input>
              <ion-icon name="contact" slot="start"></ion-icon>
            </ion-item>
            <print-error [control]="f.vuser"></print-error>

            <ion-item >
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input class="fondo-transparente" formControlName="vpass" [(ngModel)]="pass" type="password"></ion-input>
              <ion-icon name="unlock" slot="start"></ion-icon>
            </ion-item>
            <print-error [control]="f.vpass"></print-error>

          </ion-list>
          
          <div class="espacio-login"></div>
          <ion-button expand="block" color="verdec" (click)="ingresar()" [disabled]="form.invalid">
            Ingresar
          </ion-button>
          <div class="espacio-login"></div>
          <ion-button expand="block" color="verdec" (click)="registrar()" >
            Regístrate
          </ion-button>
          <div class="texto-inicio">
            <a (click)="enviarCorreo()" >Olvidaste tu contraseña?</a>
          </div>
        </form>
      </ion-card-content>
    </div>
    </ion-card>
</ion-content>
