
<ion-content>
<div class="fondo-login"></div>
    <ion-card>
      <ion-card-header>
        <img src="../../assets/image/Auto.png" />
        <br />
        <img src="../../assets/image/texto.png" />
      </ion-card-header>
      <div class="padding-login">
      <ion-card-content class="fondo-transparente">
      <div class="espacio-login"></div>
      <ion-button expand="block" color="verdec" (click)="ingresar()">
        Ingresar
      </ion-button>
      </ion-card-content>
    </div>
    </ion-card>
</ion-content>
