// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-rosado: #E91E63;
  --ion-color-rosado-rgb: 233, 30, 99;
  --ion-color-rosado-contrast: #ffffff;
  --ion-color-rosado-contrast-rgb: 255, 255, 255;
  --ion-color-rosado-shade: #c2185b;
  --ion-color-rosado-tint: #E91E63;

  --ion-color-rosadoClaro: #f7a8c2;
  --ion-color-rosadoClaro-rgb: 249, 113, 159;
  --ion-color-rosadoClaro-contrast: #ffffff;
  --ion-color-rosadoClaro-contrast-rgb: 255, 255, 255;
  --ion-color-rosadoClaro-shade: #ff9dbe;
  --ion-color-rosadoClaro-tint: #f891b3;
  
  --ion-color-verdec: #9bcc50;
  --ion-color-verdec-rgb: 155, 204, 80;
  --ion-color-verdec-contrast: #ffffff;
  --ion-color-verdec-contrast-rgb: 255, 255, 255;
  --ion-color-verdec-shade: #5e881e;
  --ion-color-verdec-tint: #9bcc50;

}

.ion-color-rosado {
  --ion-color-base: #E91E63;
  --ion-color-base-rgb: 233, 30, 99;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c2185b;
  --ion-color-tint: #E91E63;
}

.ion-color-rosadoClaro {
  --ion-color-base: #f7a8c2;
  --ion-color-base-rgb: 249, 113, 159;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #ff9dbe;
  --ion-color-tint: #f891b3;
}
.ion-color-verdec {
  --ion-color-base: #9bcc50;
  --ion-color-base-rgb: 155, 204, 80;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #5e881e;
  --ion-color-tint: #9bcc50;
}

.spiner-loading {
  height: 100% !important;
  width: 100% !important;
  margin: auto !important;
  background-repeat: no-repeat;
}
.loading-wrapper {
  height: 100px;
  width: 100px;
  background-image: url("../assets/image/loading.svg") !important; 
  background-repeat: no-repeat;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  border-radius: 30% !important;
}

.cabecera-tabla{
  text-align: center;
  font-weight: bold;
  background-color: var(--ion-color-rosadoClaro) !important;
  color: var(--ion-color-rosado-contrast) !important;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 10px;
}

.banner-menu{
  width: 100%;
  display: block;
  background: url('../assets/image/banner-menu.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--ion-color-light);
  padding: 1rem;
}


