<ion-header>
  <ion-toolbar color="rosado">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div #mapge id="mapge"></div>
  
    <ion-fab (click)="irMapCarrera()"  vertical="bottom" horizontal="end" slot="fixed">
      <ion-row text-center>
        <ion-fab-button color="verdec">
            <ion-icon name="logo-model-s"></ion-icon>
        </ion-fab-button>
      </ion-row>
    </ion-fab>
</ion-content>
